.modal {
  color: #fff;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(to right bottom, #a47148, #c99265);
  padding: 70px;
  width: 30rem;
  z-index: 2000;

  transform: translate(-50%, -50%);
}

.modal form {
  display: flex;
  min-height: 400px;
  flex-direction: column;
  justify-content: space-around;
}

.modal input {
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  transition: all 0.3s ease;
}

.modal input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgb(7, 192, 7);
}

.modal input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.modal input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.5rem);
}

.modal label {
  display: block;
  margin: 0.5rem 0 1.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.modal.visible,
.modal-success.visible {
  display: block;
}

.modal-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.btn-signup {
  border: none;
  border-radius: 3rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  color: #c99265;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem auto 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  width: 10rem;
}

.btn-signup:hover {
  cursor: pointer;
  opacity: 0.9;
}

.body-blackout {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.body-blackout.visible {
  display: block;
}

/* MODAL SUCCESS */
.modal-success {
  color: #fff;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(to right bottom, #a47148, #c99265);
  padding: 70px;
  width: 30rem;
  z-index: 2000;

  transform: translate(-50%, -50%);
}

.modal-success-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.modal-success-msg svg {
  color: rgb(7, 192, 7);
  margin-right: 1rem;
}
