
nav {
  display: flex;
  width: 100%;
  background: #777;
  padding: 10px 250px;
}

.nav-logo {
  display: inline;
  color: rgb(194, 92, 92);
}

.nav-list {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: 400px;
}

.nav-item {
  display: inline;
  margin: 0 30px; 
}

.nav-link {
  color: #fff;
}
